<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title> Страница </title>
<link href="css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div id="container">
<div id="menu">
<ul class="menu">
<li><a href="#">Раздел один</a></li>
<li><a href="#">Раздел два</a></li>
<li><a href="#">Раздел три</a></li>
<li><a href="#">Раздел четыре</a></li>
</ul>
</div>
<div id="leftbox">
<h1>1</h1>
</div>
<div id="centerbox">
<h1>2</h1>
</div>
<div id="rightbox">
<h1>3</h1>
</div>

<h2><strong>Документ HTML</strong></h2>

<p>HTML - стандартизированный язык разметки документов во Всемирной паутине. Большинство веб-страниц содержат описание разметки на языке HTML (или XHTML). Язык HTML интерпретируется браузерами; полученный в результате интерпретации форматированный текст отображается на экране монитора компьютера или мобильного устройства.</p>
<div class="zero"></div>
<div id="footer">
<div class="dot">
<h3><a href="#">Страница один</a><h3>
<h3><a href="#">Страница два</a><h3>
<h3><a href="#">Страница три</a><h3>
<h3><a href="#">Страница четыре</a><h3>
<h3><a href="#">Страница пять</a><h3>
<h3><a href="#">Контрольный параметр!</a><h3>
</div>
<div class="no-dot">
<h3><a href="#">Страница один</a><h3>
<h3><a href="#">Страница два</a><h3>
<h3><a href="#">Страница три</a><h3>
<h3><a href="#">Страница четыре</a><h3>
<h3><a href="#">Страница пять</a><h3>
<h3><a href="#">Контрольный параметр!</a><h3>
</div>
</div>
</div>
</body>
</html>
